<!-- modal-dialog text-center
containert modal-content text-center main-section -->
<div class="modal-dialog text-center" *ngIf="!autenticacionService.logIn" [hidden]="!this.show">
  <div class="col-sm-8 main-section">
    <div id="modale" class="modal-content">
  

<!-- <h1 class="m-5"> -->
      <div class="col-12 user-img"><img src="../../../assets/images/me.jpg" /></div>
    <!-- </h1> -->

    <form [formGroup]="form" class="col-12" (ngSubmit)="onEnviar($event)">
        <!-- <div class="mb-3"> -->
            <!-- <label for="exampleInputEmail1" class="form-label">Email</label> -->
            <div class="form-group" id="user-group">
            <input formControlName="email" type="email"
            [ngClass]="{'is-invalid':Email?.errors && Email?.touched, 'is-valid':!Email?.errors && Email?.touched}"
            class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" required> 
          </div>
            <div *ngIf="Email?.errors && Email?.touched" >
              <p *ngIf="Email?.hasError('required')" class="text-danger">
                      El email es requerido.
              </p>
              <p *ngIf="Email?.hasError('email')" class="text-danger">
                  El formato de email debe ser valido.
              </p>
            </div>
            <br>
        <!-- </div> -->
        <!-- <div class="mb-3"> -->
          <!-- <label for="exampleInputPassword1" class="form-label">Contraseña</label> -->
          <div class="form-group" id="contrasena-group">
          <input formControlName="password" type="password"
          [ngClass]="{'is-invalid':Password?.errors && Password?.touched, 'is-valid':!Password?.errors && Password?.touched}"
          class="form-control" id="exampleInputPassword1" placeholder="Contraseña" required>
        </div>
          <div *ngIf="Password?.errors && Email?.touched">
            <p *ngIf="Password?.hasError('required')" class="text-danger">
                    La contraseña es requerida.
            </p>
            <p *ngIf="Password?.errors?.['minlength']" class="text-danger">
                La contraseña debe ser de 8 caracteres.
            </p>
          </div>
        <!-- </div> -->
       
        <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>Ingresar</button>
        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal3"  class="btn btn-success"><i class="fa-solid fa-registered"></i>Registrarse</button>
          <a class="btn" (click)="Ingreso();" style="color:white;">Entrar Como invitado</a>
      </form>
      <div class="alert alert-danger" role="alert" [hidden]="!this.showdanger">
        {{this.cuenta}} Intento
        </div>
      </div>
    </div>
</div>

    <div class="containert alino" [hidden]="this.show">
      <div class="alert alert-success" role="alert" [hidden]="!this.showsucces">
        
        Bien echo, aguarde unos segundos
      </div>
      <div class="alert alert-danger" role="alert" [hidden]="!this.showdanger">
        Coloque bien el codigo
      </div>
            <form (ngSubmit)="checkform();" class="formmargin">
              <div class="mb-3">
              <div class="capbox" style="margin-top: 100px;">
              
              <div id="CaptchaDiv"></div>
              
              <div class="capbox-inner">
              Coloque el numero:<br>
              
              <input type="hidden" id="txtCaptcha">
              <input type="text" name="CaptchaInput" id="CaptchaInput" size="15"><br>
              
              </div>
              </div>
              <br>
              
              <br>
              </div>
              <input type="submit" value="Enviar numero" class="subbutx3"><br>
              
            </form>
    </div>
   
            <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                  </div>
                            <div class="modal-body">
                                <div class="input-group " style="margin: 5px;padding: 5px; font-size:small">
                            
                                      
                                  <div class="card">
                                  <div class="card-body" style="text-align: center;">
                                
                                      <h4 class="modal-title" id="exampleModalLabel">Registro<br></h4>
                                
                                      <h6 class="text-muted card-subtitle mb-2">Escriba sus datos&nbsp;</h6>
                                      <p class="card-text"></p>
                                      <div class="input-group">
                                        <form [formGroup]="form" class="m-5" (ngSubmit)="onReg($event)">
                                                <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text" style="width: 280px;margin: 2px 0px 0px 0px;">Su email:<br></span></div>
                                                
                                                  <input formControlName="users" type="email"
                                                          [ngClass]="{'is-invalid':Users?.errors && Users?.touched, 'is-valid':!Users?.errors && Users?.touched}"
                                                          class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" style="width: 280px;margin: 2px 0px 0px 0px;" required> 
                                                </div>
                                                <div *ngIf="Users?.errors && Users?.touched">
                                                  <p *ngIf="Users?.hasError('required')" class="text-danger">
                                                          El email es requerido.
                                                  </p>
                                                  <p *ngIf="Users?.hasError('email')" class="text-danger">
                                                    El formato de email debe ser valido.
                                                </p>
                                                </div>
                                                  <div class="input-group">
                                                    <div class="input-group-prepend"><span class="input-group-text" style="width: 280px;margin: 2px 0px 0px 0px;">Contraseña:<br></span></div>
                                                  <input formControlName="passwords" type="password"  [ngClass]="{'is-invalid':Passwords?.errors && Passwords?.touched, 'is-valid':!Passwords?.errors && Password?.touched}" class="form-control" id="passwords" name="passwords" style="width: 280px;margin: 2px 0px 0px 0px;"/>
                                                </div>
                                                <div *ngIf="Passwords?.errors && Users?.touched">
                                                  <p *ngIf="Passwords?.hasError('required')" class="text-danger">
                                                          La contraseña es requerida.
                                                  </p>
                                                  <p *ngIf="Passwords?.errors?.['minlength']" class="text-danger">
                                                      La contraseña debe ser de 8 caracteres.
                                                </p>
                                                </div>
                                                  <div class="input-group">
                                                  <div class="input-group-prepend"><span class="input-group-text" style="width: 280px;margin: 2px 0px 0px 0px;">Repita su Contraseña:<br></span></div>
                                                  <input formControlName="pass" type="password" [ngClass]="{'is-invalid':Pass?.errors && Pass?.touched, 'is-valid':!Pass?.errors && Password?.touched}" class="form-control" id="pass" name="pass" style="width: 280px;margin: 2px 0px 0px 0px;" />
                                                  
                                                </div>
                                                <div *ngIf="Pass?.errors && Email?.touched">
                                                  <p *ngIf="Pass?.hasError('required')" class="text-danger">
                                                          La contraseña es requerida.
                                                  </p>
                                                  <p *ngIf="Password?.errors?.['minlength']" class="text-danger">
                                                      La contraseña debe ser de 8 caracteres.
                                                </p>

                                                </div>
                                                <p id="error" class="{{this.color}}"></p>
                                                <input type="submit" class="form-control" id="valor" value="Registrarse" class="btn btn-outline-primary" data-bs-dismiss="modal">

                                        </form>          
                                          
                                          
                                          </div>
                                          </div>
                                                        
                                          </div>
                                                            
                                          </div>
                            </div>
                                <div class="modal-footer">
                                <button id="cerrmod" type="button" class="btn btn-secondary"   data-bs-dismiss="modal">Close</button>
                                
                                </div>
                        </div>
                  </div>
            </div>
                
                   

      
        