.header-dark {
    height:40px;
    /* padding: 50px 0; */
    color: #f0f9ff;
    background-color: #282d32;
    border-radius: 10px;
  }
  
  .header-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
  }
  
  .header-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .header-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
  }
  
  .header-dark ul a:hover {
    opacity: 0.8;
  }
  
  @media (max-width:767px) {
    .header-dark .item:not(.social) {
      text-align: center;
      padding-bottom: 20px;
    }
  }
  
  .header-dark .item.text {
    margin-bottom: 36px;
  }
  
  @media (max-width:767px) {
    .header-dark .item.text {
      margin-bottom: 0;
    }
  }
  
  .header-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
  }
  
  .header-dark .item.social {
     
    text-align: center;
  }
  
  @media (max-width:991px) {
    .header-dark .item.social {
      text-align: center;
      margin-top: 3px;
    }
  }
  .boton{
    margin-left: 990px;
    margin-top: 4px;
  }
  .header-dark .item.social > a {
      
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
  }
  .as {
    position: relative;
    display: inline-block;
    margin-top: 20px;
  }
  .as[title]:hover::after {
    content: attr(title);
    position: absolute;
    color:rgb(125, 158, 228);
    top: 100%;
    left: 0;
  }
  .header-dark .item.social > a:hover {
    opacity: 0.9;
  }
  .header-dark .item.social > fa-icon {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
     margin: 0 8px; 
    /* margin-left: 280px; */
    color: #fff;
    opacity: 0.75;
  }

  .header-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
  }
  .headerimg{
    
      height: auto;
      width: 50%;
  }
  .task{
    border-left:5px solid rgb(85, 87, 228) ;

}
.taskt{
    border-top:5px solid rgb(85, 87, 228) ;
}
p{margin:0 10px 10px}
div#content p{line-height:1.4}