#ex1RangePicker .rangepicker-selection {
    background: #7092f0;
    }
    .task{
        border-left:5px solid rgb(85, 87, 228) ;
    
    }
    .taskt{
        border-top:5px solid rgb(85, 87, 228) ;
    }