.task{
    border-left:5px solid orange ;

}
.taskt{
    border-top:5px solid orange ;
}
/*********/
body{
    font-family: 'Montserrat', sans-serif !important;
  }
  .ca{
                        
                            height:280px !important;
                            width: 560px;
                            max-width: 600px;
                            word-wrap: break-word;
                            overflow-y: scroll;
                            font-size: 15px;
                            margin-left: 10px;
                            }


                            .icon-cio{
                              color: #44BFD1;
                             padding-right:5px;
                            }
.iconJu{
  color: #44BFD1;

padding-right: 10px;
}

.uli{
  list-style:none;
}

body {font-family: 'Montserrat', sans-serif;

}
.fontM {font-family: 'Montserrat', sans-serif ;

  font-size: 14px;
  list-style:none;
}
.icon{
padding-right: 10px;
padding-top: 7px;
color:#9D9D9D
}
.iconA{ 
  font-size: 15px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 7px;
  color:#447CD1;
  }

.ca{
  background:burlywood;
  height:280px;
  width: 560px;
  max-width: 600px;
  word-wrap: break-word;
  overflow-y: scroll;
  font-size: 15px;
  margin-left: 10px;
  }

.icoF{
  padding: 15px;
}
.men{
  padding: 15px;
}
.swal_fire{
  font-size: 1em;
  color: #000;
  font-family: 'Montserrat', sans-serif !important;
}
.perso1{
  font-size: 15px !important;
padding: 10px;
color:#EC800E!important;


}
.perso2{
  font-size: 15px !important;
  padding: 10px;
  color:#0979B5 !important;
  
  }
  .modi{
  padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
 
  padding-left: 15px;

  }
.buya{
  color:#44B730;
  padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

   padding-left: 15px;


} 
.puntos_bajos{
 
  padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
   
   padding-left: 15px;
}


.esp{
 border-color: brown;
}

.back{
  background: #178dd6 !important
}
.ifon{
  color: #000;
}

/*************BOTONES ************************************************ */
.bt1{
  width: 100px;
  text-align: center;
  font-family: 'Montserrat', sans-serif !important;
  color: #000000;
  font-size: 15px;
  background: #E8E8E8;
  padding: 10px 120px 10px 20px;
  border: solid #178dd6 0px;
  text-decoration: none;
  
}

.bt1:hover {
  background: #6aade8;
  text-decoration: none;
}

/* .modal{
  display: block !important;
}
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
height: 250px;
overflow-y: auto;
} */

.i-magen{

  width: 100%;
  height: 500px!important;
}
.nosalga{
font-size: 10px;
  word-wrap: break-word!important
}
.fonty{

  font-size: 1rem;
}
.fontys{
font-size: 0.9rem;



}
.ifona{
  /* font-size: 15px; */
color:#9D9D9D;
color: #090b0c;

}